<div style="page-break-after: always"></div>
<h1>Module_06_åŸºæœ¬è¼¸å…¥èˆ‡è¼¸å‡º</h1>

> ### æ¨™æº–è¼¸å…¥è£ç½® : éµç›¤ keyboard
> ### æ¨™æº–è¼¸å‡ºè£ç½® : è¢å¹• monitor

>### æ‰€æœ‰ OS åœ¨å•Ÿå‹•æ™‚, éƒ½æœƒé–‹å•Ÿ 3 å€‹ç¨‹å¼ :
>> * standard out  (stdout) -- screen
>> * stand input   (stdin)  -- keyboard
>> * standard error(stderr) -- screen

>#### print() å‡½æ•¸æœƒæŠŠæ”¶åˆ°çš„é‹ç®—è½‰æˆ`æ–‡å­—`ï¼Œå†æŠŠçµæœé€åˆ°è¢å¹•ä¸Š

In [5]:
print(11, 22, 33, sep='?')  # try end = '\n', ''
print(11, 22, 33, sep='?', end='\n')  # try end = '\n', ''
print(11, 22, 33, sep='?', end='....')  # try end = '\n', ''
print(11, 22, 33)

11?22?33
11?22?33
11?22?33....11 22 33

In [ ]:
x = 3.000
# python2
# print'x is' + str(x)

#python 3
print('x is\t:', x)
print('x is\t:'+str(x))
print(f'x is\t:{x}\n')

In [ ]:
print('Hello '+str(x))
print('Hello'+ x)  # error, but java OK

In [6]:
# grinning face
print(f"\U0001F600")
print("\U0001F33A")
print('\U0001F42f')
# grinning squinting face
print("\U0001F606")
 
# rolling on the floor laughing
print("\U0001F923")
print('\U0000270A');print('\U0000270B');print('\U0000270C')

ğŸ˜€
ğŸŒº
ğŸ¯
ğŸ˜†
ğŸ¤£
âœŠ
âœ‹
âœŒ

### ä»‹ç´¹ input([prompt]) ç”¨æ³•
>### å¦‚æœæœ‰æä¾›â€œpromptâ€ åƒæ•¸ï¼Œå‰‡è¢å¹•æœƒå‡ºç¾â€œpromptâ€ è¨Šæ¯ï¼Œç„¶å¾Œæ¸¸æ¨™åœåœ¨è¨Šæ¯å¾Œé¢ç­‰å¾…è¼¸å…¥è³‡æ–™

>#### ç”±input()å¾—åˆ°çš„è³‡æ–™ã‡å¾‹ç‚º`å­—ä¸²`ã€‚eval()å‡½æ•¸è¼¸å…¥å¿…é ˆæ˜¯å­—ä¸²ã€‚

In [9]:
x = input('x = ')  # x= is prompt
x  # x is

'123'

In [11]:
x = int(input('x = '))
x  # x is int

2135

### ä»‹ç´¹ input string ç”¨æ³•

In [12]:
x = input('input string').lower()   # how about "upper", "title", "capitalize" ?
x

'john'

### ä»‹ç´¹ eval ç”¨æ³•
> #### eval() å‡½æ•¸æœƒå°‡æ”¶åˆ°çš„åƒæ•¸åšé‹ç®—å¾Œå‚³å›çµæœ, eval()å‡½æ•¸è¼¸å…¥å¿…é ˆæ˜¯`å­—ä¸²`ã€‚

In [13]:
eval(5**30)  # error : shall be string

TypeError: eval() arg 1 must be a string, bytes or code object

In [14]:
eval('5**30') # correct

931322574615478515625

In [ ]:
num= eval(input('input number (ex. 5*6+8/6 or 9/4+8-4):'))  # like 3*5
num   # it is a number

### Python ä¸‰ç¨®æ ¼å¼åŒ–è¼¸å‡º
> * f - å­—ä¸² (f-String)
>> èªæ³•æ˜¯æœ€æ–°çš„ã€ŠPython 3.6 ä»¥å¾Œã€‹
> * æ–‡å­—æ ¼å¼åŒ–æ–¹æ³• (str.format())
>> èªæ³•æœ€å¸¸è¦‹ã€ŠPython 3 ä»¥å¾Œã€‹
> * æ–‡å­—æ ¼å¼åŒ–é‹ç®—å­ (% Operator)
>>èªæ³•æ˜¯æœ€èˆŠçš„ã€ŠPython 2ã€‹

### % [optional] [å¯¬åº¦] (digit, float, string)
> * %s å°æ‡‰æ–‡å­—
> * %d å°æ‡‰æ•´æ•¸
> * %.nf n æ˜¯å°æ•¸é»ä½æ•¸ã€f è¡¨ç¤ºæµ®é»æ•¸,  ex. .2f æ˜¯æµ®é»æ•¸å››æ¨äº”å…¥åˆ°å°æ•¸é»å¾Œç¬¬äºŒä½
> * %.ne n æ˜¯å°æ•¸é»ä½æ•¸ã€e è¡¨ç¤ºç§‘å­¸è¨˜è™Ÿ
> * %b ï¼šäºŒé€²ä½
> * %x ï¼šåå…­é€²ä½

In [15]:
a = 4321; b = 3.1415926; c = 'abcd'

print('a=%d, b=%f' %(a, b))    # without space
print('a=              %d' %a)              # with space
print('a=%10d' %a)
print('a=% 3d' %a,'\n')

print('b=%f' %b)
print('b=%3.4f' %b)
print('b=%2.1f' %b)
print('b=%010.3f' %b,'\n')

print('c=%6s' %c)
print('c= %8s' %c)
print('c=  %s' %c)

a=4321, b=3.141593
a=              4321
a=      4321
a= 4321

b=3.141593
b=3.1416
b=3.1
b=000003.142

c=  abcd
c=     abcd
c=  abcd

### format

In [18]:
print('{}, {} and {}'.format('Tom', 'Eric', 'Jack'))
print('{1}, {2} and {0}'.format('Tom', 'Eric', 'Jack'))
print('{c}, {a} and {b}'.format(a='Tom', b='Eric', c='Jack'))
print('{:*<8}, {:>8} and {:*^8}'.format('Tom', 'Eric', 'Jack')) #*<8=è‡³å·¦è£œæ˜Ÿè™Ÿå…±å…«ä½
print('{:0>5,.1f}'.format(88886625.890372))

Tom, Eric and Jack
Eric, Jack and Tom
Jack, Tom and Eric
Tom*****,     Eric and **Jack**
88,886,625.9

### f-string :ã€€f|F '{ è®Šæ•¸ : [å¡«è£œå­—å…ƒ] [é å·¦<, ^ç½®ä¸­, é å³>] [å¯¬åº¦][d/f/...] }'

> ### ä»¥â€œf|Fâ€ é–‹é ­çš„å­—ä¸²ï¼Œå¯ä»¥ä½¿ç”¨å¤§æ‹¬è™ŸåŒ…å«é‹ç®—å¼

In [20]:
name = 'Google'; est  = 1998

print(f'{name:*<8} was established in {est:*^8}.') 
print(f'{2*37}')
print(f'{2*37:0>10.3f}')

Google** was established in **1998**.
74
000074.000

In [21]:
a=4321; b=3.456; c='abcd'
 
print(f'a:0<10d \t= {a:0<10d}')  # a æ•´æ•¸
print(f'a:0>10d \t= {a:0>10d}') 

print(f'b:0>10f \t= {b:0>10f}')  # ç•™æ„, æœªæŒ‡å®šå°æ•¸é»å¹¾ä½æ™‚, é è¨­å…­ä½å°æ•¸
print(f'c:9>10s \t= {c:9>10s}')

a:0<10d 	= 4321000000
a:0>10d 	= 0000004321
b:0>10f 	= 003.456000
c:9>10s 	= 999999abcd

In [22]:
a = 20
print(F'type(a) = {type(a)}\n')

print(f'float\t\t: {a:3.2f}')   # floating
print(f'binary\t\t: {a:b}')     # binary
print(f'octal\t\t: {a:o}')      # Octal
print(f'hex\t\t: {a:x}\n')      # Hex

type(a) = <class 'int'>

float		: 20.00
binary		: 10100
octal		: 24
hex		: 14

In [ ]:
# å­—ä¸²æ ¼å¼åŒ–
num = 6612.56789678
print(f'num\t: {num}')
print(f'06.2f\t: {num:06,.2f}')       # 000,000.00
print(f'.0f\t: {num:,.0f}')
print(f'3.2f\t: {num:3.2f}')
print(f'0>15.6f\t: {num:0>15.6f}')    #é å³
print(f'0^15f\t: {num:0^15f}')        #ç½®ä¸­
print(f'0<15.3f\t: {num:0<15.3f}\n')  #é å·¦

print(f'%\t: {5/8:.2%}')                   # %
print(f'88:b\t: {88:b}')

## (), [], {} å¯ç›´æ¥æ›è¡Œ

In [ ]:
name = 'Google'; prof = 'scientist'; lang = 'Python'
print(f'Hi {name}. '
      f'You are a {prof}. ' 
      f'You like {lang}.')

print(f'Hi {name}.\
        You are a {prof}.\
        You like {lang}.')

### ä»‹ç´¹ æ—¥æœŸæ™‚é–“æ ¼å¼
>### timestamp : 1970-01-01 ~ 2038-01-19
>### YYYY-mm-dd HH:MM:SS çš„æ ¼å¼ç›¸å®¹æ€§é«˜ï¼Œå¾ˆå¤šè³‡æ–™åº«éƒ½æ”¯æ´

In [ ]:
from datetime import datetime, date, time, timezone
datetime.now(), datetime.today()

### 1970/01/01 00:00:00 timestamp

In [ ]:
import time
dt = datetime(1970, 1, 1, 0, 0, 0, tzinfo=timezone.utc).timestamp()
dt, time.time()

In [ ]:
from datetime import datetime, date, time

dt = datetime(2021, 10, 29, 20, 30, 21)

print('dt\t\t:', dt, ', timestamp : ', dt.timestamp())

print('dt.day\t\t:', dt.day)             # dt.year, dt.month, dt.day
print('dt.minute\t:', dt.minute,'\n')    # dt.hour, dt.minute, dt.second

print('dt.date()\t:', dt.date())
print('dt.time()\t:', dt.time(),'\n')

### datetime.strftime(), datetime.strptime() å…©ç¨®æ–¹æ³•ä¸­çš„å·®åˆ¥ f å’Œ p åˆ†åˆ¥å°æ‡‰è‘— formatï¼ˆæ ¼å¼ï¼‰å’Œ parseï¼ˆè§£æï¼‰ã€‚

### datetime.strftime() æ–¹æ³•å°‡ datetime è½‰åŒ–ç‚º`å­—ä¸²`ã€‚

In [ ]:
dt = datetime(2021, 10, 29, 20, 30, 21)
dtStr='%m/%d/%Y %H:%M:%S'
print(f'{dtStr}\t: {dt.strftime(dtStr)}')

### datetime.strptime() æ–¹æ³•å°‡`å­—ä¸²`è½‰æ›ç‚º datetime

In [ ]:
dtStr = "20091031101010"
dtFt = "%Y%m%d%H%M%S"

dtStr = "Monday, July 16, 2018 20:01:56"
dtFt = "%A, %B %d, %Y %H:%M:%S"
print(f'{dtStr} \t\t: {datetime.strptime(dtStr, dtFt)}')

### dt.replace

In [ ]:
print('dt.replace(minute=0, second=0)\t\t\t\t\t\t\t:', dt.replace(minute=0, second=0),'\n')

|strftime() directive | Meaning                         |
|:-------------------:|:--------------------------------|
| %Y | Year with century, as in '2014'                  |
| %y | Year without century, '00' to '99' (1970 to 2069)|
| %m | Month as a decimal number, '01' to '12'          |
| %B | Full month name, as in 'November'                |
| %b | Abbreviated month name, as in 'Nov'              |
| %d | Day of the month, '01' to '31'                   |
| %j | Day of the year, '001' to '366'                  |
| %w | Day of the week, '0' (Sunday) to '6' (Saturday)  |
| %A | Full weekday name, as in 'Monday'                |
| %a | Abbreviated weekday name, as in 'Mon'            |
| %H | Hour (24-hour clock), '00' to '23'               |
| %I | Hour (12-hour clock), '01' to '12'               |
| %M | Minute, '00' to '59'                             |
| %S | Second, '00' to '59'                             |
| %p | 'AM' or 'PM'                                     |
| %% | Literal '%' character                            |

In [ ]:
dt2 = datetime(2016, 11, 15, 22, 30)
print('dt = ', dt,', dt2 = ', dt2, '\n')

delta = dt2 - dt
print('delta\t\t\t=', delta)
print('delta.days\t\t=', delta.days)
print('delta.seconds\t\t=', delta.seconds, '\n')

print('type(delta)\t\t:', type(delta))
print('dt  + delta = dt2\t:', dt + delta)

## "f/F" means fast

In [23]:
name = 'Google'; est = 1998

%timeit '%s was establihed %d' %(name, est)      # fast
%timeit '{} was establihed {}'.format(name, est) # slow
%timeit f'{name} was established in {est}'       # faster

304 ns Â± 3.16 ns per loop (mean Â± std. dev. of 7 runs, 1,000,000 loops each)
367 ns Â± 7.85 ns per loop (mean Â± std. dev. of 7 runs, 1,000,000 loops each)
183 ns Â± 0.553 ns per loop (mean Â± std. dev. of 7 runs, 10,000,000 loops each)

## % and format

In [ ]:
name = 'Google'; est  = 1998
data ={'name':'Google', 'est':1998}
# %
print('The name is %s, aged %d' %(name, est), '\n')

# format
print('{:8s} was established in {:10d}'.format(name, est)) 
print('{name} was established in {est}'.format(**data))  # unpack
print('{1:10d} was established in {0:8s}'.format(name, est), '\n')

In [ ]:
'{2}, {1}, {0}'.format(*'abc') # unpack

In [ ]:
'{1}, {1}, {0}'.format('abc', 'def', 'ghi') # unpack

---

<div style="page-break-after: always"></div>

# Module_07_ç¨‹å¼çš„æµç¨‹æ§åˆ¶-æ¢ä»¶åˆ¤æ–· if...else

>### â€“ åˆ†è™Ÿ( ; ) å…è¨±åœ¨ã‡åˆ—æœ‰å¤šå€‹æ•˜è¿°
>### ä»¥åˆ†è™Ÿéš”é–‹ï¼Œè¦–ç‚ºã‡å€‹æ•˜è¿°ï¼Œä¸éœ€è¦ç¸®æ’

In [24]:
x=3; y=7; print('Result:',x+y)

Result: 10

### ä½¿ç”¨åæ–œç·š Backslash(\) å°±å¯ä»¥è®“ Python ç¨‹å¼å°‡å¤šè¡Œæ˜¯ç‚ºã‡å€‹ç¨‹å¼æ•˜è¿° (Statement), ä¸‹ã‡è¡Œè¦ä¸è¦å¾€å…§ç¸®æˆ–å°å…¶éƒ½æ˜¯ç„¡æ‰€è¬‚çš„ï¼Œå³æ¥çºŒçš„ä¸‹ã‡è¡Œè·Ÿç¸®æ’æ¯«ç„¡é—œä¿‚ã€‚

In [26]:
total = 11+ \
12 + \
13 + \
14
total

50

### åœ¨[], {} æˆ–()å…§çš„æ•˜è¿°ä¸éœ€è¦ä½¿ç”¨åæ–œç·šBackslash(\)å°±å¯ä»¥æ¥çºŒä¸‹ã‡è¡Œã€‚

In [ ]:
days =['Sun', 'Mon', 'Tue',
       'Wed', 'Thu', 'Fri', 'Sat']      # try {}, ()
days

## comments
>### '#' ä»£è¡¨è¨»è§£ (å¿…é ˆä¸åœ¨å­—ä¸²å…§)ï¼Œæ‰€æœ‰ # å¾Œçš„æ•´åˆ—è¦–ç‚ºè¨»è§£ï¼ŒPythonç›´è­¯å™¨æœƒå¿½ç•¥å®ƒå€‘, ç¿’æ…£ä¸Š # å¾Œé¢ç©ºã‡æ ¼

In [ ]:
# #çœŸæ­£çš„å‚™è¨»
# this is python
# hello python
# no any evaluate

In [ ]:
# document String
'''
this is python
hello python
'''
# still evaluate.  It is not a comment.   slow down your program

## ä»‹ç´¹ if ... else ...
> ### Python ä½¿ç”¨ç¸®æ’çš„æ–¹å¼ä¾†è¡¨é”ã‡çµ„æ•˜è¿°, ç¸®æ’çš„ç©ºæ ¼æ•¸å¯ä»¥ä¸åŒï¼Œä½†æ˜¯åŒã‡çµ„æ•˜è¿°çš„ç©ºæ ¼æ•¸å¿…é ˆã‡è‡´
> * ç›¸åŒç©ºæ ¼æ•¸çš„æ‰€æœ‰æ•˜è¿°çµ„åˆæˆã‡å€‹å€å¡Š
> * Python å»ºè­°ä½¿ç”¨ 4 å€‹ç©ºæ ¼ä¾†è¡¨é”ã‡å€‹å€å¡Š

In [27]:
if True:                      
    print('True')
else:
    print('False')

True

In [33]:
x = 3
if x == 3:
    print ('x = 3')
else :
    print ('x != 3')

x != 3

In [34]:
# ä»¥ä¸‹å€å¡Šæœƒç”¢ç”ŸéŒ¯èª¤  ç¸®æ’ä¸å°
if True:
    print('Answer')
    print('True')
else:
    print('Answer')
   print('False')

Answer
True

In [37]:
# %run mod07/ifstmt2.py
# if-else stmt
s = int(input('Input score: '))

if s >= 60:
    print('Pass!')
else:
    print('Not pass!')

Not pass!

In [45]:
a = 0
if a==1:
    print('a is 1')
print('a is a number')  # é€™å€‹ printåœ¨ if ä¹‹å¤–

a is a number

## Python çš„False å¦‚ä¸‹ï¼š
> ### Falseã€Noneã€0ã€0.0
> ### ç©ºå­—ä¸²â€˜'ã€ç©ºä¸²åˆ—[]ã€ç©ºå…ƒçµ„()
> ### ç©ºå­—å…¸{}ã€ç©ºé›†åˆset()

In [46]:
lst = [11, 22]
lst.clear()  # [], False, [] == False

print('lst\t\t\t= ', lst)  # empty list
print('False == bool(lst))\t:', False == bool(lst))
print('False == bool(None)\t:', False == bool(None))
print('False == 0\t\t:', False == 0)

lst			=  []
False == bool(lst))	: True
False == bool(None)	: True
False == 0		: True

In [ ]:
print('False == 0.0\t\t:', False == 0.0)
print('False == bool(())\t:', False == bool(()))  # empty tuple
print('False == bool({})\t:', False == bool({}))  # empty dictionary

In [47]:
a = ()  # same if a :

if ():  # try [], {}, None, False, '' ()=false
    print ('True')
else :
    print('None, Flase')

None, Flase

## if expression:
> ### statement(s)

In [48]:
var1 = 100 
if var1: 
    print('True expr 1 : ', var1) 
print('var1 Finished!')
# -------------------------------    
var2 = 0 
if var2: 
    print('True expr 2 : ', var2) 
    
print('var2 Finished!')

True expr 1 :  100
var1 Finished!
var2 Finished!

## if ... else ...

In [49]:
amt = 2000
if amt < 1000:
    discount = amt * 0.05
    print('Discount', discount)
else:
    discount = amt * 0.10
    print('Discount', discount)

Discount 200.0

## if ... elif ... else

In [50]:
amt = int(input('Enter amount: '))      #é‡åˆ°ç¬¬ä¸€å€‹æ»¿è¶³çš„å°±ok   å°çš„è¦å¯«ä¸Šé¢    å¦‚æœç¬¬ä¸€å€‹å¯«100000 ä¸‹é¢éƒ½æ²’äº†

if amt < 1000:
    discount = amt * 0.05
    print('Discount:', discount)
elif amt < 5000:
    discount = amt * 0.10
    print('Discount:', discount)
elif amt < 10000:
    discount = amt * 0.15
    print('Discount:', discount)
else:
    discount = amt * 0.20
    print('Discount:', discount)

print('Net price:', amt - discount)

Discount: 45.0
Net price: 855.0

## nested if ... else ...

In [ ]:
num = int(input('enter number'))
if num%2 == 0:        # æ•´é™¤ 2
    if num%3 == 0:    # æ•´é™¤ 3
        print('Divisible by 2 and 3')
    else:             # ä¸æ•´é™¤ 3
        print('Divisible by 2, not divisible by 3')
else:                 # ä¸æ•´é™¤ 2
    if num%3 == 0:
        print('Divisible by 3, not divisible by 2')
    else:
        print('Not Divisible by 2, not divisible by 3')

## 'if' Single Statement Suites

In [52]:
var = 50
# Only one statement
if var==50: print('Value is 50')
if var==40: print('Value is 40')
print('Finished!')

Value is 50
Finished!

In [56]:
a=9
if a%2:     # 9%2 = 1, True
    print('Apple') 
else: 
    print('False')

# practice print.....if   else pr....

False

## ä¸‰å…ƒé‹ç®—å­ (ternary operator)
>### x if C else y
>### å…ˆè©•ä¼°Cçš„æ¢ä»¶ï¼Œå¦‚æœ C çš„çµæœç‚ºçœŸå‰‡å¾—åˆ° xï¼Œå¦å‰‡çµæœç‚º y

In [57]:
x = 8
if x == 8:
    y = 7
else:
    y = 9
y

7

In [58]:
x = 8
y = 7 if x == 8 else 9
y

7

In [59]:
7 if 0 else 'Python'  # x if C else y

'Python'

In [61]:
a = 2
#if a%3==0: Result = True
#else: Result = False
Result = 3 if a%3==0 else 'Hello'
Result

3

In [62]:
%%timeit
x = 5
if x%2 == 0:
    y = 1
else:
    y = 50

60.7 ns Â± 0.182 ns per loop (mean Â± std. dev. of 7 runs, 10,000,000 loops each)

In [64]:
%%timeit
x = 5
if not x%2:
    y = 1
else:
    y = 50

51.8 ns Â± 0.285 ns per loop (mean Â± std. dev. of 7 runs, 10,000,000 loops each)

---

<div style="page-break-after: always"></div>

# Module_08_ç¨‹å¼çš„æµç¨‹æ§åˆ¶-è¿´åœˆ while ,  for... range

## ä»‹ç´¹ while
>### å¦‚æœ while çš„æ¸¬è©¦æ¢ä»¶ç‚º Trueï¼Œå‰‡åŸ·è¡Œè¿´åœˆæ•˜è¿°ï¼Œç›´åˆ° while çš„æ¸¬è©¦æ¢ä»¶ç‚º Falseï¼Œå‰‡çµæŸè¿´åœˆ

In [68]:
import time

count = 0
while count < 9:
    time.sleep(.4) #åªæ˜¯åœé “é›¶é»å››ç§’
    print('count is:', count)
    count += 1  # count = count + 1
print('Finished!')

count is: 0
count is: 1
count is: 2
count is: 3
count is: 4
count is: 5
count is: 6
count is: 7
count is: 8
Finished!

In [1]:
count=0
while count<9:
    print('count is:',count)
    count+=1
print('finished')

count is: 0
count is: 1
count is: 2
count is: 3
count is: 4
count is: 5
count is: 6
count is: 7
count is: 8
finished

In [3]:
# %run mod08/whilestmt1.py
# while stmt

m = int(input('Input factorial:')) # éšä¹˜
r = n = 1

while n <= m:
    r *= n  # r = r * n
    n += 1
print(str(m) + '! =', r) 
print(f'{m}! = {r}\n')  # f-string

5! = 120
5! = 120

### while .... break
>### break å¯ä»¥è·³é–‹è¿´åœˆ

In [4]:
# %run mod08/whilestmt2.py
# while with break stmt
i = 1
while True:
    print(i, end=', ')
    i += 1
    if i > 5:
        break            # stopper
print()
# -------------------------
i = 1
while i<=5 :            # stopper
    print(i, end=', ')
    i += 1

1, 2, 3, 4, 5,
1, 2, 3, 4, 5,

### nested : while...while

In [ ]:
# æ¯”å¦‚èªªææ¬¾æ©Ÿ

while True :         # This constructs an infinite loop
    while True :
        cash = input('è¼¸å…¥ææ¬¾é‡‘é¡  :')
        if cash.isdigit():
            break
        
    if 0<int(cash) <=30000:
        break
    else:         
        print('ææ¬¾é‡‘é¡è¶…å‡ºç¯„åœ, cont....')
        continue 
        print('ææ¬¾é‡‘é¡è¶…å‡ºç¯„åœ')
    
print ('è¼¸å…¥å¯†ç¢¼')

## while å¯¦ä¾‹
>### å¹´åˆ©ç‡ 5%ï¼Œå‰‡æ¯å€‹æœˆçš„åˆ©ç‡ç‚º 5%/12=0.4167%
>### 1è¬å…ƒæ”¾åœ¨éŠ€è¡Œï¼Œæœ¬é‡‘åŠ åˆ©ç‡ç¸½é¡ç‚º 10000*(1+0.05/12)=10041.67å…ƒ

In [7]:
total=0
i=0
# while loop ...
while (total<1000000):
    total *= (1+0.05/12)
    total += 10000
    i += 1
print(i)

84

## for loop
### ä¾åºè™•ç†ã‡ä»½æœ‰é †åºå¯è¿­ä»£(iterable) çš„è³‡æ–™ï¼Œç›´åˆ°æ‰€æœ‰è³‡æ–™è™•å®Œç•¢ç‚ºæ­¢
>### `è¿­ä»£` :ã€€æ˜¯ç¨‹å¼ä¸­å°ä¸€çµ„æŒ‡ä»¤ï¼ˆæˆ–ä¸€å®šæ­¥é©Ÿï¼‰çš„é‡è¤‡ã€‚å®ƒæ—¢å¯ä»¥è¢«ç”¨ä½œé€šç”¨çš„è¡“èªï¼ˆèˆ‡ã€Œé‡è¤‡ã€åŒç¾©ï¼‰

In [8]:
for i in [6,5,4,3,2]:
    print(i)

6
5
4
3
2

In [9]:
for i in range(1, 10, 2) :   #(èµ·é»,çµ‚é»,è·³è™Ÿ)
    print (i)

1
3
5
7
9

In [10]:
for i in range(1, 10,2):
    print(f"{'a'*i:^20s}")

         a
        aaa
       aaaaa
      aaaaaaa
     aaaaaaaaa

In [15]:
# for loop
m = int(input('Input factorial:')) # éšä¹˜

r = n = 1
for n in range(1, m+1):  # iteration #  è¿­ä»£ : é‡è¤‡çš„æ„æ€
    r*=n
print(str(m) + '! =', r)

10! = 3628800

### continue
>### ç•¥éç›®å‰è¿´åœˆçš„æ•˜è¿°ï¼Œé€²è¡Œä¸‹ã‡å€‹è¿´åœˆ(å¦‚æœæ¢ä»¶ç‚ºçœŸ)

In [11]:
for i in range (1,10):
    if  i < 5 :
        print('if i < 5', i)
        continue
        print('after continue')  # ä¸åŸ·è¡Œ
    print('i =', i)

if i < 5 1
if i < 5 2
if i < 5 3
if i < 5 4
i = 5
i = 6
i = 7
i = 8
i = 9

>><img src="./img/break.jpg"  style='width:80%'>
>><img src="./img/continue.jpg"  style='width:80%'>

In [17]:
import time
for var in [12, 21, 'john', 48., 59]:
    time.sleep(.3)
    print(var)

12
21
john
48.0
59

### pass
>### æœƒå¿½ç•¥è©²æ¢ä»¶ï¼Œç¹¼çºŒåƒæ­£å¸¸è¿´åœˆä¸€æ¨£é‹è¡Œç¨‹åº

In [18]:
for n in range(10):
    if n == 4:
        pass
    else:
        print(n)

0
1
2
3
5
6
7
8
9

## nested for loop
>### è¿´åœˆå…§å¯ä»¥å†åŒ…å«è¿´åœˆï¼Œå½¢æˆå·¢ç‹€è¿´åœˆ

In [19]:
for i in range(5):
    for j in range(5):
        print(f'i: {i}, j: {j}')

i: 0, j: 0
i: 0, j: 1
i: 0, j: 2
i: 0, j: 3
i: 0, j: 4
i: 1, j: 0
i: 1, j: 1
i: 1, j: 2
i: 1, j: 3
i: 1, j: 4
i: 2, j: 0
i: 2, j: 1
i: 2, j: 2
i: 2, j: 3
i: 2, j: 4
i: 3, j: 0
i: 3, j: 1
i: 3, j: 2
i: 3, j: 3
i: 3, j: 4
i: 4, j: 0
i: 4, j: 1
i: 4, j: 2
i: 4, j: 3
i: 4, j: 4

In [20]:
import time
for i in range(1,10):
    for j in range(1,10):
        time.sleep(0.1)
        x = i * j
        print(x, end=' ')
    print()

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [21]:
import time
for i in range(1,10):
    for j in range(1,10):
        time.sleep(.1)
        print(f'{i:1d}*{j:1d} = {i*j:2d}', end='   ')
    print()

1*1 =  1   1*2 =  2   1*3 =  3   1*4 =  4   1*5 =  5   1*6 =  6   1*7 =  7   1*8 =  8   1*9 =  9
2*1 =  2   2*2 =  4   2*3 =  6   2*4 =  8   2*5 = 10   2*6 = 12   2*7 = 14   2*8 = 16   2*9 = 18
3*1 =  3   3*2 =  6   3*3 =  9   3*4 = 12   3*5 = 15   3*6 = 18   3*7 = 21   3*8 = 24   3*9 = 27
4*1 =  4   4*2 =  8   4*3 = 12   4*4 = 16   4*5 = 20   4*6 = 24   4*7 = 28   4*8 = 32   4*9 = 36
5*1 =  5   5*2 = 10   5*3 = 15   5*4 = 20   5*5 = 25   5*6 = 30   5*7 = 35   5*8 = 40   5*9 = 45
6*1 =  6   6*2 = 12   6*3 = 18   6*4 = 24   6*5 = 30   6*6 = 36   6*7 = 42   6*8 = 48   6*9 = 54
7*1 =  7   7*2 = 14   7*3 = 21   7*4 = 28   7*5 = 35   7*6 = 42   7*7 = 49   7*8 = 56   7*9 = 63
8*1 =  8   8*2 = 16   8*3 = 24   8*4 = 32   8*5 = 40   8*6 = 48   8*7 = 56   8*8 = 64   8*9 = 72
9*1 =  9   9*2 = 18   9*3 = 27   9*4 = 36   9*5 = 45   9*6 = 54   9*7 = 63   9*8 = 72   9*9 = 81

### enumerate å‡½æ•¸

In [22]:
for idx, var in enumerate([12, 21, 'john', 48., 59]) :   #å€¼+ä½ç½®
    print(idx, var)

0 12
1 21
2 john
3 48.0
4 59

## range (start, stop [,step])
>### start å¼•æ•¸é è¨­ç‚º 0ï¼Œstep å¼•æ•¸é è¨­ç‚º 1, range() å‡½æ•¸å¯ä»¥ç”¢ç”Ÿã‡å€‹æ•¸åˆ—

In [23]:
# lazy evaluation
range(1,6)  # get ready, not execute
print('range(1,6)\t\t:', range(1,6))
print('list(range(1,8))\t:', list(range(1,8)))
print('list(range(1,8,2))\t:', list(range(1,8,2)))

range(1,6)		: range(1, 6)
list(range(1,8))	: [1, 2, 3, 4, 5, 6, 7]
list(range(1,8,2))	: [1, 3, 5, 7]

https://zh.wikipedia.org/zh-tw/%E6%83%B0%E6%80%A7%E6%B1%82%E5%80%BC

In [24]:
import time
for i in range(1, 2.5, 0.1):  # not for floating, numpy å¯ä»¥
    time.sleep(.5)
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [25]:
list(range(1,6))  # execute

[1, 2, 3, 4, 5]

In [26]:
tuple(range(1,6))  # execute

(1, 2, 3, 4, 5)

In [27]:
set(range(1,6)) # execute

{1, 2, 3, 4, 5}

In [28]:
list(range(1, 15, 2))  # how about range (a,d)

[1, 3, 5, 7, 9, 11, 13]

### for ... else åªæœ‰ for è¿´åœˆ`è™•ç†å®Œæ‰€æœ‰çš„é …ç›®å¾Œ`(ç°¡è¨€ä¹‹, æ²’æœ‰åŸ·è¡Œ break)ï¼Œæ‰æœƒé€²å…¥ else å€å¡Š

In [1]:
numbers = [31, 57, 75, 85, 27, 93, 69, 21, 22]
for num in numbers:
    if num%2 == 0:
        print('æœ‰ å¶æ•¸å­˜åœ¨', num)
        break
else:
    print('ç„¡ å¶æ•¸å­˜åœ¨')
print('Finish')

æœ‰ å¶æ•¸å­˜åœ¨ 22
Finish

In [30]:
x = ['even' if num%2==0 else 'odd' for num in numbers]
print(x)

y = ['even' for num in numbers if num%2==0]
print(y)

['odd', 'odd', 'odd', 'odd', 'odd', 'odd', 'odd', 'odd', 'even']
['even']

---

<div style="page-break-after: always"></div>

# Module_09_ä¸²åˆ— (List)
> * List æ˜¯ Python æœ€å¤šæ¨£åŒ–, ç”¨é€”æœ€å»£çš„è³‡æ–™å‹æ…‹
> * List æ˜¯æœ‰é †åº(sequence)ï¼Œå¯ä»¥ä¿®æ”¹å…§å®¹(mutable) 
> * ä½¿ç”¨ä¸­æ‹¬è™Ÿæ‹¬èµ·ä¾†ï¼Œæ¯ã‡å€‹é …ç›®ä»¥é€—é»åˆ†éš”
> * [] ä»£è¡¨ç©ºä¸²åˆ—
> * `Python æ²’æœ‰é™£åˆ— array è³‡æ–™å‹æ…‹`

>### index ç´¢å¼•
><img src="./img/list.png"  style='width:90%'>

In [34]:
list1=['a', 'b', 'c', 'd']
print(list1)

list2='a b c d'.split()
print(list2)

list('abcd')

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

['a', 'b', 'c', 'd']

## index, slice
>### è¦å–å¾— List å…§å®¹ï¼Œä½¿ç”¨ä¸­æ‹¬è™Ÿé…åˆè¨»æ¨™æˆ–åˆ‡ç‰‡ (slice) ä¾†ç²å¾—
>### List å…§å®¹æ˜¯`å¯ä¿®æ”¹çš„ (mutable)`

In [35]:
names=['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
print('names\t\t\t\t=', names)
print('names[0]\t\t\t:', names[0])
print('names[0][0]\t\t\t:', names[0][0], '\n')

print('names[5]\t\t\t:', names[5])
print('names[-1]\t\t\t:', names[-1],'\n')

print('names[1:5]\t\t\t:', names[1:5])
print('names[1:6:2]\t\t\t:', (names[1:6:2]),'\n')

names[2]='Kevin'
print("names[2]='Kevin'\t\t:", names)             # ä¿®æ”¹

names[-1:]=[2000, 23.5]                           # ä¸€æ¬¡æ”¹å…©ç­†è³‡æ–™
print('names[-1:]=[2000, 23.5]\t\t:', names)

names				= ['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
names[0]			: fraser
names[0][0]			: f

names[5]			: 23.5
names[-1]			: 2019

names[1:5]			: ['grace', 'john', 'jess', 'jack']
names[1:6:2]			: ['grace', 'jess', 23.5]

names[2]='Kevin'		: ['fraser', 'grace', 'Kevin', 'jess', 'jack', 23.5, 2019]
names[-1:]=[2000, 23.5]		: ['fraser', 'grace', 'Kevin', 'jess', 'jack', 23.5, 2000, 23.5]

### æ’åº sort

In [38]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)  # length  ç”¨é•·åº¦æ’
b

['He', 'saw', 'six', 'small', 'foxes']

<div style="page-break-after: always"></div>

## List å…§å®¹ä¹Ÿå¯ä»¥æ˜¯ Listã€Tuple æˆ– Set

In [39]:
lst = [33, 'python', [11, 12, 13], 77]
print(len(lst))
print(lst[0])
print(lst[2])
print(lst[2][2])

4
33
[11, 12, 13]
13

### list in list
><img src="./img/listNested.png"  style='width:90%'>

### check id, values

In [2]:
lst1 = [10, 20, 30]
lst2 = [10, 20, 30]
lst3 = [10, 30, 20]
lst1 == lst2

True

In [3]:
lst1 == lst3  #é †åºéœ€ä¸€è‡´

False

In [6]:
print(lst1 is lst2)   # å¯èƒ½False,  True (æ©Ÿç‡å¾ˆä½å¾ˆä½) æ•¸å€¼é›–ç„¶æƒ³åŒ, ä½†è¨˜æ†¶é«”ä½ç½®å¯èƒ½ä¸åŒ
print(id(lst1), id(lst2))

False
775561872448 775561835520

In [5]:
lst1 is lst3

False

## ä¸²åˆ—åŸºæœ¬é‹ç®—

In [7]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

array like:list,tuple,np.array,series

In [9]:
['Hi!'] * 4

TypeError: can't multiply sequence by non-int of type 'float'

In [11]:
30 in [10, 20, 30]

True

In [12]:
import time

a = [10, 20, 30]
for x in a: 
    time.sleep(.4)
    print (x, end = ' ')

10 20 30

In [13]:
lst=[11, 22, 33, 44]
print('lst\t\t\t=', lst)
print('id(lst)\t\t\t:', id(lst), '\n')

lst[2] = 68
print('lst[2] = 66\t\t:', lst, '\n')

lst[2:]=['aaa','bbb']
print("lst[2:]=['aaa','bbb']\t:",lst,'\n')

lst[2:]=[333, 444, 555,  666]  #list å¯å¢åŠ ç›´æ¥æ“´å¤§
print('lst[2:] =\t\t:', lst)
print('id(lst)\t\t\t:', id(lst), '\n') #ç›´æ¥æ”¹æ•¸å€¼è¨˜æ†¶é«”ä½ç½®æ²’è®Š

lst			= [11, 22, 33, 44]
id(lst)			: 775592881152

lst[2] = 66		: [11, 22, 68, 44]

lst[2:]=['aaa','bbb']	: [11, 22, 'aaa', 'bbb']

lst[2:] =		: [11, 22, 333, 444, 555, 666]
id(lst)			: 775592881152

In [14]:
lst1= [33, 'python', [11,22,33], (44,55,66)]
print('lst1\t\t:', lst1)
print('lst1[3][0]\t:', lst1[3][0],'\n')#(44,55,66)è£¡çš„0ä½ç½® =44
#lst1[3][0] = 88

lst1		: [33, 'python', [11, 22, 33], (44, 55, 66)]
lst1[3][0]	: 44

In [15]:
print(lst1[2][2])

33

## ä¸²åˆ—( List )ç›¸é—œ`å‡½æ•¸ functions` å’Œ`æ–¹æ³• methods`

In [16]:
x, y, z=20, 10, 30
lst=[x, y, z]

print('lst\t\t\t\t=', lst)
print('lst\t\t\t\t:', len(lst))
print('max(lst)\t\t\t:', max(lst))
print('min(lst)\t\t\t:', min(lst))
print('sum(lst)\t\t\t:', sum(lst))
print('sorted(lst)\t\t\t:', sorted(lst))#å¾å°æ’åˆ°å¤§
print('sorted(lst, reverse=True)\t:', sorted(lst, reverse=True))

lst				= [20, 10, 30]
lst				: 3
max(lst)			: 30
min(lst)			: 10
sum(lst)			: 60
sorted(lst)			: [10, 20, 30]
sorted(lst, reverse=True)	: [30, 20, 10]

In [17]:
a = [4, 777, 444, 4, 999, 11];   b = ['aa', 'bb', 'cc']

print(f'a = {a},\t b = {b} \n')

a.append('1')                              # æ–°å¢
print("a.append('1')\t\t:", a)
print('a+[1]\t\t\t:', a+[1], '\n')

a.extend(b)
print('a.extend(b)\t\t:', a)  # like a+b
print('a.count(4)\t\t:', a.count(4))        # count how many 4 in list
print('a.index(4)\t\t:', a.index(4), '\n')  # what is index of 4<æ‰¾å‡º4åœ¨å“ªå€‹ä½ç½®

a.insert(5, 555)
print('a.insert(5, 555)\t:', a)

a = [4, 777, 444, 4, 999, 11],	 b = ['aa', 'bb', 'cc']

a.append('1')		: [4, 777, 444, 4, 999, 11, '1']
a+[1]			: [4, 777, 444, 4, 999, 11, '1', 1]

a.extend(b)		: [4, 777, 444, 4, 999, 11, '1', 'aa', 'bb', 'cc']
a.count(4)		: 2
a.index(4)		: 0

a.insert(5, 555)	: [4, 777, 444, 4, 999, 555, 11, '1', 'aa', 'bb', 'cc']

In [19]:
a.insert(3,123)
print(a)

[4, 777, 444, 123, 4, 999, 123, 555, 11, '1', 'aa', 'bb', 'cc']

In [20]:
a = [4, 777, 666, 999, 11, 45, 66, 88, 73]

print(f'a = {a}\n')
                                       
print('a.pop()\t\t:', a.pop())                   #å½ˆå‡ºå€¼, ä¸¦åˆªé™¤                        
print('a.pop(4)\t:', a.pop(4))                   #ç”¨ index, å‚³å›å€¼, ä¸¦åˆªé™¤
print('a.remove(666)\t:', a.remove(666))        #ç”¨ item value åˆªé™¤, å›å‚³ç©ºå€¼
print('a \t\t:', a, '\n')

a.reverse()
print('a.reverse()\t:',a)

b = a.copy()      #å¦‚æœb=a å“ªå¤©aè¢«æ”¹äº†æœƒæ‰¾ä¸åˆ°  b=a.copy()å°±æŒ‡å‘ä¸åŒä½ç½®
print('b = a.copy()\t:', b)
print('a.clear()\t:', a.clear())

a = [4, 777, 666, 999, 11, 45, 66, 88, 73]

a.pop()		: 73
a.pop(4)	: 11
a.remove(666)	: None
a 		: [4, 777, 999, 45, 66, 88]

a.reverse()	: [88, 66, 45, 999, 777, 4]
b = a.copy()	: [88, 66, 45, 999, 777, 4]
a.clear()	: None

><img src="./img/list_Methods.jpg"  style='width:90%'>

---

<div style="page-break-after: always"></div>

# Module_10_ä¸²åˆ— (List) èˆ‡å…ƒçµ„ (Tuple)
> * Tuple æ˜¯æœ‰é †åº(sequence)ï¼Œå…§å®¹ä¸å¯æ”¹è®Š(immutable)
> * ä½¿ç”¨å°æ‹¬è™Ÿæ‹¬èµ·ä¾†ï¼Œæ¯ã‡å€‹é …ç›®ä»¥é€—é»åˆ†éš”
> * tuple ä½”è¨˜æ†¶é«”å°, è¨ˆç®—é€Ÿåº¦å¿«

><img src="./img/memoryIndex03.png"  style='width:90%'>

> * ã‡å€‹å…ƒç´ çš„ tuple å¿…é ˆè¦å¤šåŠ ã‡å€‹é€—é»çµå°¾
> * Tuple å…§å®¹æ˜¯ä¸å¯æ”¹è®Šçš„(immutable)ï¼Œäº¦å³ç„¡æ³•æ›´æ–°æˆ–åˆªé™¤é …ç›®
> * å¯ä»¥åˆ©ç”¨å·²å­˜åœ¨çš„ Tuple ä¾†ç”¢ç”Ÿæ–°çš„ Tuple

In [21]:
t1=(50) # not tuple becasue of no ','æ²’æœ‰é€—é»ä¸æ˜¯å…ƒçµ„
t1
type(t1)

int

In [22]:
t2=(50,)
print(t2*4)
type(t2)

(50, 50, 50, 50)

tuple

In [23]:
tup2 = 50, 60    # tup2 = 50, 60, 70
tup2, type(tup2)

((50, 60), tuple)

In [25]:
t3=tuple(range(0, 10, 2))#é›¶åˆ°åï¼Œæ¯2è·³è™Ÿ
print(t3)

# t3[1] = 5         # error, immutable
t3.remove(['2'])  # error, not removable, pop'

(0, 2, 4, 6, 8)

AttributeError: 'tuple' object has no attribute 'remove'

In [26]:
tup = 4, 5, 6; tup1 = (4, 5, 6)
print(tup + tup1)
print(tup + tup1 + (8,))

(4, 5, 6, 4, 5, 6)
(4, 5, 6, 4, 5, 6, 8)

In [27]:
tup = 4, 5, 6; nested_tup = (4, 5, 6), (7, 8)

print(type(tup))
print(nested_tup)
print(tup + nested_tup)
tup

<class 'tuple'>
((4, 5, 6), (7, 8))
(4, 5, 6, (4, 5, 6), (7, 8))

(4, 5, 6)

### ç´¢å¼•èˆ‡åˆ‡ç‰‡çš„æ–¹å¼åŒ String æˆ– List

In [28]:
tup1 = ('aiot', 'python', 23.5, 2019)
tup2 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(tup1[0])
print(tup2[1:5])
print(tup2[1:10:2])

aiot
(2, 3, 4, 5)
(2, 4, 6, 8, 10)

In [29]:
tup = tuple([4, 0, 2])
print(tup, '\n')

tup = tuple('string')  # try list ('string')
print(tup)
print(tup[0])

(4, 0, 2)

('s', 't', 'r', 'i', 'n', 'g')
s

## tuple æ”¹å‹•èˆ‡å¦ï¼Œ`è¦–æœ€å¾Œæ”¹å‹•çš„å°è±¡ç‚ºæº–`
>### Tuple å…§å®¹ä¹Ÿå¯ä»¥æ˜¯ Listã€Tuple æˆ– Set, Tupleçš„å…§å®¹å¯ä»¥æ˜¯ä»»æ„çš„è³‡æ–™å‹æ…‹

In [30]:
tup = tuple(['foo', [1, 2], True])

# tup[2] = False
tup[1].append(3)  # list in Tuple OK to change or append inside of list
print(tup)
print(len(tup))
tup[1][0] = 20#[1,2]çš„1æ”¹æˆ20
tup

('foo', [1, 2, 3], True)
3

('foo', [20, 2, 3], True)

### Unpacking tuples

In [31]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [32]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

### for loop unpack

In [33]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a = {a}, b = {b}, c = {c}')

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [34]:
values = 1, 2, 3, 4, 5
print(type(values))
a, b, *rest = values
a, b, rest
# rest

<class 'tuple'>

(1, 2, [3, 4, 5])

In [35]:
a, b, *_ = values
_

[3, 4, 5]

## tuple å…ƒçµ„åŸºæœ¬é‹ç®—

In [36]:
('Hi',)*4

('Hi', 'Hi', 'Hi', 'Hi')

In [37]:
len((10,20,30))

3

In [38]:
 (1,2,3)+(4,5,6)

(1, 2, 3, 4, 5, 6)

In [39]:
30 in (10,20,30)

True

In [40]:
seq = (1, 2, 3, 4, 5, 6, 7, 8, 9) # iterable object
for i in seq:
    print(i, end=', ')#ç”¨','éš”é–‹

1, 2, 3, 4, 5, 6, 7, 8, 9,

## tuple å…ƒçµ„ç›¸é—œ`å‡½æ•¸ functions` èˆ‡ `æ–¹æ³• methods`

In [41]:
nested_tup = (4, 5, 6), (7, 8)  # nested tuple
print(len(nested_tup))

2

In [44]:
tup = (1, 2, 3, 4, 5, 6, 5, 4, 3, 2, 1)
print('len(tup)\t\t\t:', len(tup))
print('max(tup)\t\t\t:', max(tup))
print('min(tup)\t\t\t:', min(tup))
print('sum(tup)\t\t\t:', sum(tup))
print('sorted(tup)\t\t\t:', sorted(tup))
print('sorted(tup,reverse = True)\t:', sorted(tup, reverse = True))
print(tup)

len(tup)			: 11
max(tup)			: 6
min(tup)			: 1
sum(tup)			: 36
sorted(tup)			: [1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6]
sorted(tup,reverse = True)	: [6, 5, 5, 4, 4, 3, 3, 2, 2, 1, 1]
(1, 2, 3, 4, 5, 6, 5, 4, 3, 2, 1)

In [43]:
tup3=('aaa', 'bbb', 'kkk', 'jjj', 'cc1')

print('tup3\t\t\t=', tup3)
print('sorted(tup3)\t\t:', sorted(tup3))  #tuple sorted å‚³å›çš„æ˜¯list[], éœ€è¦ç”¨åƒæ•¸å»æ¥, lst=sorted(t3), t3 is still tuple, no change
print('max(tup3)\t\t:', max(tup3))
print('min(tup3)\t\t:', min(tup3))
print("tup3.count('kkk')\t:", tup3.count('kkk'))
print("tup3.index('kkk')\t:", tup3.index('kkk'))
print('tup3+(111, 222)\t\t:', tup3+(111, 222))

tup3			= ('aaa', 'bbb', 'kkk', 'jjj', 'cc1')
sorted(tup3)		: ['aaa', 'bbb', 'cc1', 'jjj', 'kkk']
max(tup3)		: kkk
min(tup3)		: aaa
tup3.count('kkk')	: 1
tup3.index('kkk')	: 2
tup3+(111, 222)		: ('aaa', 'bbb', 'kkk', 'jjj', 'cc1', 111, 222)

In [45]:
t1 = tuple(range(0, 10, 2)) # lazy evaluation
t2 = tuple([1, 2, 3, 4])
t3 = tuple('abcde')

print(t1)
print(t2)
print(t3)

(0, 2, 4, 6, 8)
(1, 2, 3, 4)
('a', 'b', 'c', 'd', 'e')

In [47]:
a = (1, 2, 2, 2, 3, 4, 2)
print(a.count(2))
print(a.index(2))

4
1

## list comprehensions
>### Python æ”¯æ´ã‡ç¨®ç¨±ç‚º â€œlist comprehensionsâ€ çš„æ¦‚å¿µï¼Œä»¥ã‡å€‹éå¸¸ç›´æ¥ç°¡å–®çš„æ–¹å¼ä¾†å»ºæ§‹ä¸²åˆ— (List)ï¼Œæ„Ÿè¦ºè·Ÿæ•¸å­¸çš„å…¬å¼å¾ˆåƒ
>### Tuple æ²’æœ‰ Comprehension çš„è§€å¿µ

In [48]:
S = [x**2 for x in range(10)]
V = [2**x for x in range(13)]
M = [x for x in S if x % 2 == 0]
Q = [x**2/2 for x in range(10) ]

print('S = ', S)
print('V = ', V)
print('M = ', M)
print('Q = ', Q)

S =  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
V =  [1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
M =  [0, 4, 16, 36, 64]
Q =  [0.0, 0.5, 2.0, 4.5, 8.0, 12.5, 18.0, 24.5, 32.0, 40.5]

In [49]:
# ä¹ä¹ä¹˜æ³•è¡¨ comprehensive å¯«æ³•
[[i*j for j in range(1,10)] for i in range(1,10)]

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [57]:
[x*y for x in range(1,10) for y in range(1,10)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [59]:
%%timeit
# V = (1,2,4,8,...2**10)
V=[]
for n in range(11):
    V +=[2**n]
V

3.48 Âµs Â± 14.8 ns per loop (mean Â± std. dev. of 7 runs, 100,000 loops each)

In [58]:
%%timeit
# V = (1,2,4,8,...2**10)
V=[]
V = [2**n for n in range(11)]
V

3.06 Âµs Â± 10.2 ns per loop (mean Â± std. dev. of 7 runs, 100,000 loops each)

### ç¯„ä¾‹

In [60]:
# è³ªæ•¸
lst=[]
for i in range(2,1001):
    for j in range (2,i):
        if i%j==0:
            break
    else:
        lst=lst+[i]
print(lst)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [ ]:
# for loop start
#å…¬å…ƒå¹´åˆ†é™¤ä»¥4å¯æ•´é™¤ä½†å…¬å…ƒå¹´åˆ†é™¤ä»¥100ä¸å¯æ•´é™¤ã€æˆ–ã€Œå…¬å…ƒå¹´åˆ†é™¤ä»¥400å¯æ•´é™¤ã€

lst_year=[]  # list
for i in range(1900, 2021):
    if((i%4==0 and  i%100!=0) or (i%400==0)):
        print(id(lst_year), lst_year)        
        lst_year += [i]
print('\n', lst_year, '\n')      

# -------------------------------------------------------

lst_year1 = [i for i in range(1900,2021) if((i%4==0 and i%100!=0) or (i%400==0))]
print(lst_year1)

In [ ]:
# for loop start
#å…¬å…ƒå¹´åˆ†é™¤ä»¥4å¯æ•´é™¤ä½†å…¬å…ƒå¹´åˆ†é™¤ä»¥100ä¸å¯æ•´é™¤ã€#æˆ–ã€Œå…¬å…ƒå¹´åˆ†é™¤ä»¥400å¯æ•´é™¤ã€

lst_year=()  # tuple
for i in range(1900, 2021):
    if((i%4==0 and i%100!=0) or (i%400==0)):
        print(id(lst_year), lst_year)
        lst_year +=(i,)
print('\n', lst_year, '\n')

### tuple æ”¾æ£„äº†å°å…ƒç´ çš„å¢åˆªï¼ˆè¨˜æ†¶é«”çµæ§‹è¨­è¨ˆä¸Šè®Šçš„æ›´ç²¾ç°¡ï¼‰ï¼Œæ›å–çš„æ˜¯æ•ˆèƒ½ä¸Šçš„æå‡ï¼šå»ºç«‹ tuple æ¯” list è¦å¿«ï¼Œå„²å­˜ç©ºé–“æ¯” list ä½”ç”¨æ›´å°ã€‚

---
<center><h1>--- The End ---</h1></center>